@model List<AlquilerVJ.BL.Producto>

@{
    ViewBag.Title = "Inicio";
}

<section class="story-area left-text center-sm-text">
    <div class="container">
        <div class="heading"><h3>Elije  tu  VideoJuego F A V O R I TO</h3></div>
        <div class="row">
        @foreach (var producto in Model
            .Take(4)
            .OrderBy(r => Guid.NewGuid())
            )
        {
            <div class="col-lg-3 col-md-4  col-sm-6 ">
                <div class="center-text mb-30">
                    <div class="ïmg-x mlr-auto pos-relative">
                        <h6 class="ribbon-cont color-white"><div class="ribbon primary"></div><b>PROMOCIÓN</b></h6>
                        <img src="@(ViewBag.adminWebsiteUrl + producto.UrlImagen)" alt=""> <!Union del dominio del sitio Web-->
                    </div>
                    
                    <h5 class="mt-20">@producto.Descripcion</h5>
                    <h4 class="mt-5 color-primary"><b>L @producto.Precio</b></h4>
                </div><!--text-center-->
            </div><!-- col-md-3 -->
        }
        </div><!-- row-->
    </div><!-- container -->
</section>

<section class="story-area bg-seller color-white pos-relative">
    <div class="pos-bottom triangle-up"></div>
    <div class="pos-top triangle-bottom"></div>
    <div class="container">
        <h4 class="font-30 font-sm-20  center-text mb-25">Selecciona tu<b>VideoJuego</b> y, ordenalo!!</h4>
    </div><!-- container -->
</section>

<section class="bg-lite-blue">
    <div class="container">
        <div class="row">
        @foreach (var producto in Model)
        {
            <div class="col-md-6">
                <div class="sided-90x mb-30 ">
                    <div class="s-left"><img class="br-3" src="@(ViewBag.adminWebsiteUrl + producto.UrlImagen)" alt="Menu Image"></div><!--s-left-->
                    <div class="s-right">
                        <h5 class="mb-10"><b>@producto.Descripcion</b><b class="color-primary float-right">L @producto.Precio</b></h5>
                        <p class="pr-70"> </p>
                    </div><!--s-right-->
                </div><!-- sided-90x -->
            </div><!-- food-menu -->
        }
        </div><!-- row -->
    </div><!-- container -->
</section>

<section>
    <div class="container">
        <div class="heading mb-sm-10"><h3>Escoge tu Categoría</h3></div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="sided-220x responsive mb-30 left-text center-sm-text">
                    <div class="s-left mlr-sm-auto"><img src="~/images/NeedForSpeed-CARRERA.jpg" alt="Menu Image"></div>
                    <div class="s-right">
                        <h5>Carreras</h5>
                        <h4 class="mtb-10"><b class="color-primary">L 700.00</b></h4>
                        <p>Maneja a toda velocidad, y siente la adrenalina correr por tu sangre. </p>
                    </div><!--s-right-->
                </div><!-- sided-90x -->
            </div><!-- col-md-6 -->
            <div class="col-md-12 col-lg-6">
                <div class="sided-220x responsive mb-30 left-text center-sm-text">
                    <div class="s-left mlr-sm-auto"><img src="~/images/PlantsVSZombies-AVENTURA.jpg" alt="Menu Image"></div>
                    <div class="s-right">
                        <h5>Aventura</h5>
                        <h4 class="mtb-10"><b class="color-primary">L 980.00</b></h4>
                        <p>Salva al mundo de la invación Zombie y escoge la planta que mejor vaya contigo. </p>
                    </div><!--s-right-->
                </div><!-- sided-90x -->
            </div><!--col-md-6 -->

    </div><!-- container -->
</section>
